{% extends 'base.html' %}
{% block body %}
<style>
.center{
    display : block;
    margin: auto;
    width: 600px;
    max-width: 80%
}
</style>

<div class="center">
    <a style="font-size:20px; color:black;" href={{ "/?page=" + page_config.get("data_page_last_query")|string }}><< Pre</a>
    <br />
    <br />
    <img style="max-width: 100%; display : block; margin: auto; " src={{ "." + page_config.get("data_image")[2] }}/>
    <br />
    <br />
    {% if page_config.get("comm_root_signin") %}
    <form method="POST" style="padding-bottom:10px;">
        <div style="text-align: center;">
            <br/>
            <button type="button" class="btn-primary" onclick="buttonfunc('modify');" value="modify">Modify</button>
            <button type="button" class="btn-danger" onclick="buttonfunc('delete');" value="delete">delete</button>
            <input type="hidden" name="action" id="action" value="">
            <input type="hidden" name="data_page_last_query" value={{ page_config.get("data_page_last_query") }}>
        </div>
    </form>
    {% endif %}
    <p style="font-size:18px;">title: {{ page_config.get("data_image")[1] }}</p>
    <p style="font-size:18px;">created: {{ page_config.get("data_image")[3] }}</p>
    <p style="font-size:18px;">updated: {{ page_config.get("data_image")[4] }}</p>
</div>
<script type="text/javascript">
    function buttonfunc(mode) {
        document.getElementById("action").value = mode;
        if (mode == "delete"){
            if (confirm("Your Really Want Delete This Post?")){
                document.querySelector('form').submit();
            }
        }else{
            document.querySelector('form').submit();
        }
    }
</script>
{% endblock %}