{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form method="post">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        {% if not page_config['check'] %}
        <h4 style="color: red;">account information is not matched !!</h4>
        {% endif %}
    </form>
</div>
{% endblock %}