{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form method="post">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Email</label>
                <input type="email" class="form-control" name="email">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
                <small class="form-text text-muted">Your password will be encrypted by AES.</small>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Password Check</label>
                <input type="password" class="form-control" name="passwordcheck">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">SignUp</button>
        <h4 style="color: red;">{{ page_config.get("message") }}</h4>
    </form>
</div>
{% endblock %}